.services-bg-container {
    min-height: 100vh;
}
.services-list-container {
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    margin-top: 30px;
}
.services-list-item {
    width: 350px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.luxury-car-container{
    padding-left: 50px;
    padding-top: 40px;
    background-image: linear-gradient(black,#1e1e1e);
    color: #FFF;
    min-height: 60vh;
    padding-bottom: 26px;
    margin-bottom: 35px;
}
.luxury-heading {
    text-align: center;
    margin-bottom: 30px;
}
.luxury-desc {
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 50px;
}
.services-icon {
    font-size: 75px;
    margin-bottom: 20px;
}
.services-desc {
    font-weight: bold;
    font-size: 24px;
    max-width: 230px;
}
.airport-bg-container {
    display: flex;
    height: 60vh;
    align-items: center;
    padding-left: 50px;
    gap: 30px;
    justify-content: space-around;
}
.airport-transfer-container {
    width: 600px;
}
.privat-bg-container {
    display: flex;
    min-height: 60vh;
    align-items: center;
    padding-left: 50px;
    gap: 50px;
    justify-content: space-around;
    color: #FFFF;
    /* background-image: linear-gradient(to left,#3498db,#8e44ad); */
    background-color: #4D4C7D;
}

.private-transfer-container {
    width: 600px;
}
.extended-bg-container {
    display: flex;
    min-height: 60vh;
    align-items: center;
    padding-left: 50px;
    gap: 50px;
    justify-content: space-around;
    color: #FFFF;
    /* background-image: linear-gradient(to left,#3498db,#8e44ad); */
    background-color: #4D4C7D;
}



@media (max-width:568px) {
    .services-list-container {
        flex-direction: column;
    }
    .services-list-item {
        margin-bottom: 30px;
        align-self: center;
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #ccc3;
        border-radius: 4px;
    }
    .extended-bg-container {
        padding-left: 20px;
        padding-right: 10px;
    }
    .luxury-car-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .airport-bg-container {
        flex-direction: column;
        width: 100%;
        padding-left: 20px;
        margin-bottom: 50px;
        padding-right: 20px;
        padding-top: 30px;
    }
    .car-img {
        width: 380px;

    }
    .services-bg-container {
        width: 100%;
    }
    .airport-transfer-container {
        width: 100%;
    }
    .privat-bg-container {
        flex-direction: column;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 25px;
        padding-top: 30px;
        padding-bottom: 30px;

    }
    .private-transfer-container {
        width: 100%;
    }

    .extended-bg-container {
        flex-direction: column;
        width: 100%;
        padding-left: 20px;
        margin-bottom: 35px;
        padding-top: 30px;
        padding-right: 20px;
        padding-bottom: 30px;
    }
    
}