.about-container {
    min-height: 100vh;
    margin-top: 50px;
}
.transport-container {
    display: flex;
    gap: 80px;
    padding-left: 40px;
    margin-bottom: 40px;
    padding-bottom: 30px;

}
.welcome-container {
    width: 700px;
}
.welcome-heading {
    font-weight: bold;
}
.welcome-desc {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(76, 76, 76);
}

@keyframes shadow-blink {
    0% {
      box-shadow: 0 0 10px rgb(120, 189, 245);
    }
    50% {
      box-shadow: 0 0 20px rgb(8, 141, 250);
    }
    100% {
      box-shadow: 0 0 10px rgb(120, 189, 245);
    }
  }
.know-more-bt {
    background-color: #3498db;
    padding: 9px;
    border-radius: 5px;
    outline: none;
    color: #ffff;
    width: 160px;
    border: 1px solid #3498db;
    transition: background-color 0.5s ease;
    margin-top: 15px;
    font-weight: bold;
    animation: shadow-blink 3s infinite; 
}
.know-more-bt:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px #ccc;
    color: #000000;

}

.travel-container {
    background-color: #d4dfe8;
    min-height: 80vh;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 67px;
    padding-right: 20px;
}
.choose-container {
    width: 1150px;
    margin-bottom: 35px;
}
.safety-icon {
    font-size: 95px;
    color: #000000;
    margin-bottom: 15px;
}
.choose-list-item-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 380px;
      border: 1px solid #ccc;
      padding: 9px;
      border-radius: 10px;
      background-color: #ccc5;
      height: 400px;
     
}
.safety-heading {
    color: #232c27;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.safety-desc {
    color: #193a24;
    text-align: center;
}
.choose-list-container {
    display: flex;
    gap: 20px;
    padding-left: 0px;
    padding-left: 30px;
    list-style-type: none;
}
.travel-desc {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.half-image { /* Adjust to set the image to half of the container's height */
    position: absolute;
    transform: translateY(-50%);
    top: 500px;
  }
  .view-service-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width:968px) {
    .half-image {
        display: none;
    }
    .transport-container {
        margin-bottom: 20px;
        align-items: center;
        padding-right: 30px;
    }
    .know-more-bt {
        font-size: 12px;
    }
    .choose-container {
        width: 80%;
    }
    .choose-list-container {
       padding-left: 0px;
       align-items: flex-start;
       justify-content: flex-start;
       
    }
    .choose-list-item-container {
        width: 200px;
    }
    .about-car-img {
        width: 40%;
        height: 40%;
    }
    .welcome-container {
        width: 50%;
    }
    
    .welcome-span{
        display: none;
    }
  }


  @media (max-width:420px) { 
    .welcome-container {
        width: 90%;
    }
    .about-container {
        width: 100%;
    }
    .transport-container {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }
    .about-car-img {
        width: 90%;
        height: 50%;
        margin-bottom: 0px;
    }
      .choose-list-container {
        flex-direction: column;
      }
      .choose-list-item-container{
        width: 100%;
        margin-bottom: 30px;
      }
      .travel-container {
        padding-left: 20px;
        padding-right: 20px;
      }
      .choose-container {
        width: 90%;
      }
  }