.about-container {
    min-height: 100vh;
    margin-top: 50px;
}
.transport-container {
    display: flex;
   
    padding-left: 25px;
    margin-bottom: 40px;
    padding-bottom: 30px;
}

.welcome-heading {
    font-weight: bold;
}
.welcome-desc {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(76, 76, 76);
}

@keyframes shadow-blink {
    0% {
      box-shadow: 0 0 10px rgb(120, 189, 245);
    }
    50% {
      box-shadow: 0 0 20px rgb(8, 141, 250);
    }
    100% {
      box-shadow: 0 0 10px rgb(120, 189, 245);
    }
  }
.know-more-bt {
    background-color: #3498db;
    padding: 9px;
    border-radius: 5px;
    outline: none;
    color: #ffff;
    width: 160px;
    border: 1px solid #3498db;
    transition: background-color 0.5s ease;
    margin-top: 15px;
    font-weight: bold;
    animation: shadow-blink 3s infinite; 
}

.know-more-bt:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px #ccc;
    color: #000000;

}

.travel-container {
    background-color: #d4dfe8;
    width: 100%;
    min-height: 80vh;
    padding-left: 65px;
    padding-bottom: 40px;
    padding-top: 67px;
}
/* .choose-container {
   padding: 0 20px;
} */
.safety-icon {
    font-size: 95px;
    color: #000000;
    margin-bottom: 15px;
}
.choose-list-item-container {
      padding: 20px;
     width: 380px;
  
      background-color: #ccc5;
     
     
}
.safety-heading {
    color: #232c27;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.safety-desc {
    color: #193a24;
    text-align: center;
}
.choose-list-container {
    display: flex;
    gap: 20px;
   justify-content: center;
   margin: 0 auto;
    list-style-type: none;
}
.travel-desc {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.half-image { /* Adjust to set the image to half of the container's height */
    position: absolute;
    transform: translateY(-50%);
    top: 500px;
  }
  .view-service-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 960px) {
    .choose-container{
       
        margin-bottom: 35px;
    }
    .choose-list-item-container {
        padding: 20px;
        margin: auto;
       width: 330px;
    
        background-color: #ccc5;
       
       
  }
  .listwrapper{
    margin: 0 auto;
    justify-content: center;
  }
    .carrr{
        width: 70%;
        margin-top: 20px;
    }
    .choose-container {
     padding-right: 10%;
        text-align: center;
     }
    
  }