.pricing-bg-container {
    min-height: 100vh
}
.pricing-top-bg-container {
    background-image: url("https://res.cloudinary.com/dorh4kb0v/image/upload/v1697706364/Car-Mileage-Schedule-scaled_atbbru.jpg");
    background-size: cover;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pricing-heading {
    color: #f3f3f3;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    font-family: "Roboto", "Arial";
    text-shadow: 0 0 4px #000000;
}
.pricing-desc {
    color: #ffffff;
    text-shadow: 0 0 4px #000000;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    max-width: 80%;
    background-color: rgba(0, 0, 0, 0.253);
}
.pricing-list-container{
    display: flex;
    list-style-type: none;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
}

@media (max-width:568px) {
    .pricing-list-container {
        justify-content: center;
    }
}
