.bgpic{
    /* height: '80vh width: '100%',marginTop:'-100px' */
    height:90vh;
    width: 100%;
    /* margin-top: -100px; */
}
.homequote{
    text-align: left;
    padding: 20px;
    padding-left: 70px;
}
.know-more-link-btn {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Apply the animation to the animated-heading element */
  .animated-heading {
    opacity: 0; /* Start with 0 opacity (invisible) */
    animation: fadeIn 2s ease forwards; /* Apply the fadeIn animation with a 1-second duration */
  }
.Headinghome{
    text-align: center;
    font-family: Oswald,Sans-serif;
    color: #dbb343;
    font-weight: 600;
    line-height: normal;
  font-size: 32px;
}
.home{
    margin: 0;
    position: relative;
    
}
.parahome{
    text-align: center;
    color: #222;
    font-family: "Open Sans",Sans-serif;
}
.homecontparas{
    padding: 80px;
}
.marginbtn{
    margin-left: 45%;
    margin-top: 10px;

}
.bgpic2 {
    width: 100%; /* or a specific width like 300px */
    height: 300px; /* adjust based on your needs */
    background-size: cover;
    background-repeat: no-repeat;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.Headinghome {
    animation: fadeIn 1.8s ease-in-out;
}
.radio-group{
    display: flex;
    gap: 20px;
}
.form-container{
    background-color: rgba(14, 13, 13, 0.918);
   color: white;
   padding: 30px;
   border-radius: 10px;
   margin-top: 15px;
}
.inputs{
    width: 350px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
}
.Trip{
    display: flex;
    align-items: center;
    gap: 80px;
    font-size: 14px;
}
.formdispaly{
    display: flex;
    align-items: center;
}
.triplabel{
    font-size: 14px;
    font-weight: 600;
}
.additionalinfo{
    width: 600px;
}

.fleet-container {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
  }
  
  .fleet-text {
    flex: 1;
    margin-right: 20px;
  }
  
  .fleet-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .car-left {
    transform: scaleX(-1); /* This will flip the car image to face left */
    max-width: 45%;
  }
  
  .car-right {
    max-width: 45%;
  }
  .fleet-outer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .clasicbtn{
    margin-top: -20px;
    margin-left: 20px;
  }
  .content-wrapper {
    text-align: center;
    padding: 20px;
}

.h1-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #665b5b;
    margin: 0 10px;
}
.carosal {
    max-width: 40%; /* ensures image doesn't overflow its container */
    display: block;  /* makes image a block-level element */
    margin: 0 auto;  /* centers image horizontally */
}

.Slider > div {
    display: flex;          /* enable flexbox */
    justify-content: center;/* center content horizontally */
    align-items: center;    /* center content vertically */
    height: 300px;   
    margin-top: 40px;       /* or whatever height you desire */
}

@media screen and (max-width: 960px) {
    .bgpic {
        height: 38vh;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        /* margin-top: -100px; */
    }
    .form-container{
      
        padding: 15px;
       
    }
    .Headinghome{
        padding: 0px;
        padding-left: 30px;
       margin-top: -20px;
       padding-right: 20px;
    }
    .homequote{
        padding-left: 40px;
    }
    .parahome{
        font-size: 16px;
    }
    .homecontparas{
        padding: 0 30px 30px 30px;
    }

    .marginbtn{
        align-items: center !important;

    }
    .bgpic2 {
        width: 100%; /* or a specific width like 300px */
        height: 180px; /* adjust based on your needs */
        background-size: 120%;
        background-repeat: no-repeat;
        animation: fadeIn 1.5s ease-in-out;
    }
    .fleet-container {
        flex-direction: column;
      }
      .fleet-text {
        margin-right: 0;
        margin-bottom: 20px;
      }
      .fleet-images {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .fleet-outer {
        align-items: center; /* This will center the button for mobile view */
    }
    .clasicbtn{
        margin-top: 0px;
        margin-left: 0px;
      }
      .carosal {
        max-width: 60%; /* ensures image doesn't overflow its container */
        display: block;  /* makes image a block-level element */
        margin: 0 auto;  /* centers image horizontally */
    }
}

@media screen and (max-width: 796px) {
    .homecontparas{
        padding: 0 30px 30px 30px;
    }

}