/* Contact.css */
.contact-container {
    position: relative;
    background-image: url('../../asset/map.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Make the background image fixed */
    background-position: center center;
  }
  
  .contact-header {
    position: relative;
  }
  
  .background-image img {
    width: 100%;
 background-size: cover;  
    height: auto;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
  }
  
  .contactparas {
    text-align: center;
    padding: 5% 5%;
    /* Black gradient overlay for contactparas */
    z-index: 2; /* Content is above the background image */
  }
  
  .contactparas h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.4;
    letter-spacing: 0.5px;
    text-align: center;
    color: #000000; /* Text color for contactparas */
  }
  
  .contactparas h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    color: #333333;
  }
  
  .contact-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 6%;
    z-index: 2; /* Content is above the background image */
  }
  
  .contact-info {
    text-align: left;
     /* Black gradient overlay for contact info */
    padding: 10px;
    border-radius: 10px;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .contact-info h3 {
    color: #333333 !important;
  }
  
  .book-car-service {
    text-align: center;
    background: rgba(240, 230, 216, 0.705) ;
    border-radius: 10px;
    padding:  1% 5%;
    border: 1px solid rgb(207, 206, 206);
 margin-bottom: 2%;
  }
  
  .book-car-service input{
    height: 50px;
  }
  .book-car-service textarea{
    height: 80px;
  }
  .book-car-service button {
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 400px;
    padding: 10px 20px;
    cursor: pointer;
  }
  @media (max-width:968px) {
    .contact-details {
        flex-direction: column;
      }

      .contactparas h1 {
        font-weight: 500;
        font-size: 24px;
      }
      
      .contactparas h3 {
        font-size: 18px;
        line-height: 1.2;
        
      }
      
      .contact-container {
       
        background-size: contain;
       
      }
      .background-image img {
        width: 100%;
     background-size: contain;  
        height: 20vh;
      }
      .contact-info h1 {
font-size: 22px;
      }
      
      .contact-info h3 {
        font-size: 18px;
        color: #333333 !important;
      }
      
    
      
   
      .book-car-service button {
     
        width: 300px;
      
      }
  }