.detail-image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
}
.payment-bg-container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
}
.payment-location {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    font-size: 16px;
    color: #eadeded4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.payment-destination {
    color: rgb(186, 184, 184);
    font-size: 15px;
}
.payment-pay-btn {
    background-color: #f1890b;
    width: 120px;
    padding: 9px;
    border: none;
    outline: none;
    font-weight: bold;
    transition: background-color 0.5s ease;
    animation: shadow-blink-pay 3s infinite;
    color: bold;
    border-radius: 5px;
    color: #fff;
    margin-top: 25px;
}

.payment-pay-btn:hover {
    background-color: #a85f06;
}
@keyframes shadow-blink-pay {
    0% {
      box-shadow: 0 0 10px rgb(255, 194, 40);
    }
    50% {
      box-shadow: 0 0 20px rgb(230, 179, 50);
    }
    100% {
      box-shadow: 0 0 10px rgb(250, 214, 124);
    }
  }

  .payment-card-container {
    width: 300px;
    padding: 18px;
    background-color: #403f4b;
    height: 100%;
    color: #fff;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    justify-content: center;
  }
  .payment-image-container {
    background-image: url("https://designmodo.com/wp-content/uploads/2017/08/gradient-1.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 100%;
    flex-direction: column;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
  }
  .detail-image-container {
    width: 800px;
    height: 80vh;
    box-shadow: 0 0 4px #ccc;
    border-radius: 9px;
    display: flex;
    padding-bottom: 0px;
    justify-content: space-between;
    
  }
  .qr-code-image {
    border: 5px solid #ccc;
    border-radius: 7px;
  }
  .cancel-payment-btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: underline;
    color: #fff;
    margin-top: 40px;
  }
  .cancel-payment-btn:hover {
    color: #ff0f0f;
    
  }
  .invoice-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }
  .invoice-desc {
    max-width: 250px;
    text-align: center;
  }

  @media (max-width:568px) {
    .detail-image-container {
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
    .payment-bg-container {
      display: block;
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .payment-card-container {
      width: 100%;
      height: 60vh;
      border-radius: 0px;
      height: 100%;
    }

    .payment-image-container {
      width: 100%;
      border-radius: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    /* .payment-location h3{
color: rgb(255, 255, 255);
    } */
    .payment-card-container {
      width: 100%;
      height: 53vh;
  line-height: 5px;
    }
    /* .payment-card-container {
      width: 300px;
      padding: 18px;
      background-color: #403f4b;
      height: 100%;
      color: #fff;
      border-bottom-left-radius: 9px;
      border-top-left-radius: 9px;
      display: flex;
      flex-direction: column;
      padding-left: 30px;
      justify-content: center;
    } */
  }
